* {
  box-sizing: border-box;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Regular.woff");
}

$Color--darkGrey: hsl(176, 40%, 10%);
$Color--lightGrey: #d2d2d2;
$Color--bg: white;

$Color--timelineBackground: hsl(50, 70%, 50%);
$Color--timelineBorder: hsl(50, 70%, 40%);

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: OpenSans, sans-serif;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

#Application,
.Page {
  width: 100vw;
  height: 100vh;
}
@define-extend $Shadow--layer {
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,.2);
}
@define-extend $FontStyle--headline {
  font-family: Roboto;
  font-weight: bold;
}
@define-extend $Button {
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  background-color: $Color--darkGrey;
  border-radius: 0.125rem;
  color: white;
}

.Page__UI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
}
