* {
  box-sizing: border-box;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Regular.woff");
}

$Color--darkGrey: hsl(176, 40%, 10%);
$Color--lightGrey: hsl(176, 10%, 90%);
$Color--bg: white;

$Color--timelineBackground: hsl(54, 15%, 10%);
$Color--timelineBorder: hsl(54, 15%, 20%);
$Color--timelineLegend: hsl(54, 15%, 40%);
$Color--timelineFore: hsl(54, 15%, 80%);
$Color--timelineAccent: hsl(54, 80%, 60%);

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: OpenSans, sans-serif;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

#Application,
.Page {
  width: 100vw;
  height: 100vh;
}
@define-extend $Shadow--layer {
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,.2);
}
@define-extend $FontStyle--headline {
  font-family: Roboto;
  font-weight: bold;
}
@define-extend $Button {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border: 1px solid $Color--darkGrey;
  border-radius: 0.25rem;
  color: $Color--darkGrey;
}

.Page__UI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
}
