.Detail {
  position: absolute;
  top: 0;
  right: 0;

  width: 24rem;
  padding: 1rem;

  background-color: hsla(40, 0%, 100%, 0.8);
  @extend shadow--layer;
}

.Detail__section {
  padding: 1rem 0;
}

.Detail.is--hidden {
  transform: translateX(100%);
}

.Detail__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  color: $Color--darkGrey;
}

.Detail__address {
  @extend font-style--headline;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
