.Detail {
  position: relative;
  flex: 1;
  width: 28rem;
  padding: 1rem 1.5rem;
  background-color: $Color--bg;
  transition: all 0.2s ease-in-out;
  pointer-events: all;
}

.Detail__section {
  margin: 1.5rem 0;
}

.Detail__stats {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  padding: 0 0.5rem;
  margin: 1.5rem 0;
}

.Detail__footer {
  margin: 1rem 0;
  display: flex;
}

.Detail.is--hidden {
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
}

.Detail__close {
  position: absolute;
  font-size: 1.5rem;
  top: 2rem;
  width: 3rem;
  height: 3rem;
  right: -3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $Color--bg;
  text-decoration: none;
  color: $Color--darkGrey;
  box-shadow: 0.25rem 0 0.125rem rgba(0, 0, 0, 0.03) inset;
  transition: all 0.2s ease-in-out;
}

.Detail.is--hidden .Detail__close {
  right: 0;
  transition: all 0.2s ease-in-out;
}

.Detail__streetView {
  height: 12rem;
  position: relative;
}

.Detail__streetView:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.3) inset;
  z-index: 10000;
  pointer-events: none;
}

.Detail__graphContainer {
  width: 100%;
}

.Detail__address {
  @extend $FontStyle--headline;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.Detail__dataField {
  flex: 0 0 50%;
  padding: 1rem;
}

.Detail__fullDataField {
  flex: 0 0 100%;
  padding: 1rem;
}

.Detail__dataFieldLabel {
  font-size: 0.75rem;
}

.Detail__dataFieldValue {
  @extend $FontStyle--headline;
}

.Detail__downloadData {
  @extend $Button;
}
